<template>
  <footer>
      <p>
          Recipe app with vue js 
      </p>
  </footer>
</template>

<script>
export default {

}
</script>

<style  scoped>
footer{
    background-color: #212224;
    padding: 10px;
    margin: auto;
    text-align: center;
    color:#F2F2F0 ;
    overflow: hidden;
}
</style>

